* {
    -fx-dark-blue: #24293D;
    -fx-blue: #2F3855;
    -fx-light-blue: #8EBBFF;
    -fx-white: #F4F4FC;
    -fx-green: #4A803C;
    -fx-green-hover: #67b354;
    -fx-red: #803C3C;
    -fx-red-hover: #aa4343;
}

#anchorid {
    -fx-font-family: "Product Sans";
    -fx-background-color: -fx-dark-blue;
}

#text{
    -fx-font-family: "Product Sans Italic";
    -fx-font-size: 12px;
}

#Title{
    -fx-font-family: "Product Sans Bold";
    -fx-text-fill: -fx-white;
}

#buttonBack{
    -fx-border-width: 1;
    -fx-border-color: -fx-blue;
    -fx-border-radius: 10;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-white;
}

#buttonBack:hover{
    -fx-background-color: -fx-blue;
    -fx-background-radius: 10;
    -fx-text-fill: -fx-dark-blue;
}

#nomid,#prenomid,#emailid,#commentaireid,#afiliationid {
    -fx-font-size: 13px;
    /* -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10; */

    -fx-background-color: -fx-blue;
    -fx-text-fill: -fx-white;
}

#commentaireid {
    /* commentaireid.setStyle(
        //         "    -fx-font-size: 13px;" +
        //                 "    -fx-border-radius: 0 0 0 0;" +
        //                 "    -fx-background-radius: 10 0 0 10;" +
        //                 "  -fx-prompt-text-fill: #C0C0C0;" +
        //                 "-fx-border-color: -fx-blue; ;" +
        //                 "    -fx-control-inner-background: -fx-blue;" +
        //                 "    -fx-text-fill: -fx-white;"); */

    -fx-control-inner-background: -fx-blue;
    -fx-prompt-text-fill: #C0C0C0;
}

#nomid {
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
}


#envoyer {
    -fx-font-family: "Product Sans Bold";

    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;

    -fx-background-color: -fx-green;
    -fx-text-fill: -fx-white;
}

#envoyer:hover {
    -fx-cursor: hand;
    -fx-background-color: -fx-green-hover;
}