* {
    -fx-dark-blue: #24293D;
    -fx-blue: #2F3855;
    -fx-light-blue: #8EBBFF;
    -fx-white: #F4F4FC;
    -fx-green: #4A803C;
    -fx-green-hover: #67b354;
    -fx-red: #803C3C;
    -fx-red-hover: #aa4343;
}

#mainPane {
    -fx-font-family: "Product Sans";

    -fx-background-color: -fx-dark-blue;
}

#profileButton {
    -fx-font: 40 "Product Sans Bold";
    -fx-background-color: -fx-blue;
    -fx-border-color: -fx-light-blue;
    -fx-text-fill: -fx-white;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
}

#profileButton:hover {
    -fx-font: 33 "Product Sans Light";
    -fx-background-color: -fx-dark-blue;
    -fx-border-color: -fx-red-hover;
    -fx-border-width: 6;
    -fx-text-fill: #FA9AB1;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
}

#buttonBack{
    -fx-font: 22 "Product Sans Bold";
    -fx-border-width: 1;
    -fx-border-color: -fx-blue;
    -fx-border-radius: 10;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-white;
}

#buttonBack:hover{
    -fx-background-color: -fx-blue;
    -fx-background-radius: 10;
    -fx-text-fill: -fx-dark-blue;
}

#plaqueImg {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;

    -fx-background-color: -fx-blue;
}


#inputBar {
    -fx-font-size: 13px;
    -fx-border-radius: 10 0 0 10;
    -fx-background-radius: 10 0 0 10;

    -fx-background-color: -fx-blue;
    -fx-text-fill: -fx-white;
}

#acceptBtn {
    -fx-font-family: "Product Sans Bold";
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;

    -fx-background-color: -fx-green;
    -fx-text-fill: -fx-white;
}

#acceptBtn:hover, #saveBtn:hover {
    -fx-cursor: hand;
    -fx-background-color: -fx-green-hover;
}

#saveBtn {
    -fx-font-family: "Product Sans Bold";
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: -fx-green;
    -fx-text-fill: -fx-white;
}


#annotationRect {
    -fx-opacity: 0.45;
    -fx-stroke-width: 4px;
}

.annotationRectSelected {
    -fx-stroke-width: 8px;
    -fx-stroke: red;
}

#newAnnotationBtn {
    -fx-background-color: -fx-dark-blue;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-border-color: -fx-white;
    -fx-text-fill: -fx-white;

    -fx-font-family: "Product Sans Bold";
    -fx-font-size: 15px;
}

#newAnnotationBtn:hover {
    -fx-background-color: -fx-blue;
}